<h1>Libros</h1>
<p>Sección donde aparecen los proyectos literarios en los que he trabajado. Podemos dividirlo también en diferentes secciones, quizá. Tengo que pensar en cómo distribuirlo. De momento, se me ocurre la siguiente división:
</p>
<div class="row">
    <a href="#" class="card col-md-3">
        <div>
            <img src="" alt="test_image" height="150px">
            <h3>Libros de lectura adaptada</h3>
            <p>lorem</p>
        </div>
    </a>
    <a href="#" class="card col-md-3">
        <div>
            <img src="" alt="test_image" height="150px">
            <h3>Cuentos infantiles</h3>
            <p>lorem</p>
        </div>
    </a>
    <a href="#" class="card col-md-3">
        <div>
            <img src="" alt="test_image" height="150px">
            <h3>Manuales de español</h3>
            <p>lorem</p>
        </div>
    </a>
    <a href="#" class="card col-md-3">
        <div>
            <img src="" alt="test_image" height="150px">
            <h3>Otros proyectos</h3>
            <p>lorem</p>
        </div>
    </a>
</div>