body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


.container {
  min-height: 100%;
}
footer {
  bottom: 0;
  width: 100%;
  background-color: #0a2c42 
}